.container {
  &-read-indicator {
    min-width: 40px;

    .read-indicator {
      height: 12px;
      width: 12px;
      background-color: #2992BF;
      border-radius: 50%;
      margin: 0 16px;
    }
  }

  &-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 60px;
    border-top: 1px solid #D9DCDF;
    border-bottom: 1px solid #D9DCDF;
    background-color: #F1F7F9;
    color: #6B6C6D;

    &:hover, &.selected {
      background-color: #D6EBF3;
    }

    &.selected {
      .mail-sender, .mail-subject {
        font-weight: bolder;
      }

      .mail-subject {
        color: #383838;
      }
    }
  }

  &-favorite {
    height: 32px;
    width: 32px;
    margin: 0 16px;


    svg {
      height: 2em;
      width: 2em;
      fill: transparent;
      stroke: #6B6C6D;
      stroke-width: 1;
    }
  }

  &-checkbox {
    height: 24px;
    width: 24px;
    margin: 0 16px;
  }

  &-date {
    min-width: 10%;
  }

  &-mail-details {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    @media (max-width: 768px) {
      width: 40%;
    }

    .mail-subject, .mail-sender {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .mail-subject {
      font-size: 18px;
    }

    .mail-sender {
      font-size: 14px;
    }
  }
}
