.nav-side {
  $root: &;

  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
    background-color: #4088A6;
    color: #ffffff;

    a {
      color: #ffffff;
      text-decoration: none;

      &:visited {
        color: #ffffff;
      }
    }

    > * {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
    }

    svg {
      height: 1.5em;
      width: 1.5em;
      margin: 0 16px 0 0;
    }

    #{$root}-title {
      justify-content: center;
      font-size: 24px;
      margin: 16px 0;
    }

    #{$root}-compose {
      justify-content: center;
      margin: 0 0 16px;
      outline: none;

      button {
        background-color: #2992BF;
        color: #ffffff;
        border: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: 8px 16px;
        font-size: 16px;
      }
    }

    #{$root}-section{
      width: 90%;
      padding-left: 24px;

      &:hover {
        background-color: #28718F;
      }

      .section {

      }
    }
  }


}
