.app-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 16px;
  color: #ffffff;
  background-color: #88B7CB;

  svg {
    width: 1.5em;
    height: 1.5em;
  }

  .container {
    &-search {
      position: relative;
      form {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          position: absolute;
          right: 14px;
        }

        .search-input {
          width: 30vw;
          max-width: 400px;
          height: 32px;
          border: none;
          border-radius: 16px;
          padding-left: 16px;
          font-size: 14px;
          outline: none;
          color: #ffffff;
          background-color: #7AADC3;

          &::placeholder {
            font-size: 16px;
            color: white;
          }
        }
      }

    }

    &-account {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      max-width: 10%;
      white-space: nowrap;
      overflow: hidden;

      .account-name {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-menu {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #88B7CB;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      .accounts-menu-item {
        padding: 16px 28px;
        height: 28px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ffffff;

        &:hover {
          background-color: #4088A6;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
