.container {
  $root: &;

  &-item-details {
    width: 100%;

    #{$root}-item-toolbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      border-bottom: 1px solid #D9DCDF;
      font-size: 24px;
      font-weight: 500;
      padding-left: 24px;
      padding-right: 16px;
    }
  }
}
