.container-navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #D9DCDF;
  border-radius: 4px;
  border-collapse: collapse;

  .navigator {
    &-next, &-prev {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 28px;

      &:hover {
        background-color: #F1F7F9;
      }

      svg {
        height: 1.2em;
        width: 1.2em;
        color: #878787;
      }
    }

    &-prev {
      border-right: 2px solid #D9DCDF;
    }
  }
}
