.container-email {
  $root: &;

  &-view {
    height: calc(100% - 110px);
    margin: 16px 16px 0;
    border: 1px solid #D9DCDF;

    #{$root}-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      padding: 24px;
      background-color: #F1F7F9;
      color: #6B6C6D;

      & .email {
        &-from-to {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          .email-from, .email-to {
            display: grid;
            grid-template-columns: 50px 1fr;

            .info-value {
              font-weight: 600;
            }
          }
        }

        &-date-favorite {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          min-width: 20%;
        }
      }
    }

    #{$root}-content {
      white-space: pre-line;
      padding: 24px;
    }
  }
}
