.actions-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  height: 60px;
  border-bottom: 1px solid #D9DCDF;

  .container {
    &-select-all {
      height: 24px;
      width: 24px;
    }

    &-actions {
      display: flex;
      flex-direction: row;
      margin-left: 24px;

      .action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 28px;
        border: 2px solid #D9DCDF;
        border-collapse: collapse;

        &:hover {
          background-color: #F1F7F9;
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-right: none;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-left: none;
        }

        svg {
          height: 1.2em;
          width: 1.2em;
          color: #878787;
        }
      }
    }
  }
}
